<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Teste do Api</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <label for="tarefa">Tarefa</label><br>
            <input type="text" name="tarefa" placeholder="Titulo">
            <br>
            <label for="descricao">Descrição</label><br>
            <input type="text" name="descricao" placeholder="Descrição">
            <br>
            
        </form>
    </div>
    
</body>
<style>

.container{
    margin-left: 4%;
    margin-top: 4%;
}

</style>
</html>