<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Teste do Api</title>
</head>
<body>
    <div class="container">

        titulo <%= toDo.title %> <br>
        descrição <%= toDo.description %> <br>
        tag <%= toDo.tag %> <br>
        cor <%= toDo.hexColor %> <br>

    </div>
    
</body>
<style>

.container{
    margin-left: 4%;
    margin-top: 4%;
}

</style>
</html>