<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    

    <div class="container">
        <h3>Adicione uma tarefa nova em: A fazer</h3> <hr>
    <form action="/save/toDo" method="post">
        <label for="title">Title</label><br>
        <input type="text" name="title"><br> <br>

        <label for="description">Description</label><br>
        <input type="text" name="description"><br> <br>

        <label for="tags">Tags</label><br>


        <select name="tag" multiple="true">
        <% tags.forEach(tag => { %>
            <%= tag.id %>
            <option value="<%= tag.id %>"><%= tag.title %></option>
            
        <% }) %> 
    </select><br>

        <label for="hexColor">hexColor</label> <br>
        <input type="color" name="hexColor"><br><br>

        <button type="submit">Mandar</button>
    </form>

    </div>
    

</body>
<style>

</style>
</html>